.auth-section {
  overflow: hidden !important;
}
.auth-wrapper {
  height: 100vh;
}

.auth-form-wrapper{
  width: 50%;
}

.txtmasuk {
  color: #6148ff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.fm .form-control-login{
  width: 100%;

  background: transparent;
  padding: 12px 16px 12px 16px;
  box-shadow: none;
  border: none;
  outline: none;
}


.fm label{
  font-family: "Poppins", sans-serif;
  size: 12px;
}

.input-form-user::placeholder {
  color: #8a8a8a !important;
}

.input-form-user{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #D0D0D0;
  background: #FFF;
  border-radius: 16px;
}

.input-form-user .form-control{
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
}

.form-control:focus{
  box-shadow: none;
}

.input-form-user .icon-show{
  margin-right: 15px;
}

.btn-masuk {
  font-family: "Poppins", sans-serif;
  color: white !important;
  background-color: #6148ff !important;
  border-radius: 16px;
  size: 14px;
}
.a {
  font-family: "Poppins", sans-serif;
  color: #6148ff !important;
  font-weight: bold;
}
.account-block {
  background-color: #6148ff !important;
}

@media (max-width: 768px) {
  .account-block {
    display: none;
  }
}
