.card-akun {
  border: 1px solid #6148ff;
  margin-top: 4.5rem;
  width: 80%;
  height: auto;
  left: 10%;
}
.card-header {
  background-color: #6148ff;
  color: white;
  font-weight: 700;
  height: 4rem;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}
.akun-btn-login {
  display: flex;
  align-items: center;
  gap: 32px;
  margin: 0;
}
.akun-btn-login img {
  filter: grayscale(100%) invert(76%) sepia(0%) saturate(208%)
  hue-rotate(223deg) brightness(90%) contrast(82%);
}
.akun-btn-login p {
  color: var(--Black, #000);
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  transition: 0.1s ease-in;
}
.akun-btn-login p:hover {
  color: var(--Dark-Blue-100, #6148ff);
  font-size: 16px;
  font-weight: 700;
}
