.detail-video {
  background: rgba(0, 0, 0, 0.85);
  border-radius: 25px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.detail-video-player {
  width: 100%;
  height: 360px;
}
.video-play-btn {
  height: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.detail-video-buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  padding: 25px;
}
.detail-video-buttons button {
  border-radius: 25px;
  border: none;
  width: 150px;
  padding: 5px 12px;
  color: var(--Neutral-01, #FFF);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.video-prev {
  background: var(--Light-Blue-5, #EBF3FC);
  color: var(--Light-Blue-100, #489CFF) !important;
}
.video-next {
  background: var(--Dark-Blue-100, #6148FF);
}
.txt-kelass {
  width: 318px;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 70%;
  color: #000000;
  padding-top: 20px;
}
.txt-design-all {
  color: #000000cc;
  font-family: Montserrat, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  flex: 1 0 0;
  text-align: justify;
}

@media screen and (max-width: 768px) {
  .detail-video {
    border-radius: 0;
  }
}
