/* Form Profile */

.input-profile {
  display: grid;
  justify-content: center;
}

.border {
  width: 90px;
  height: 91px;
  border-radius: 50%;
  border: solid 3px #6148ff !important;
}

.text-label {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.form-control {
  padding: 12px 16px;
  max-width: 328px;
  height: 48px;
  gap: 16px;
  border-radius: 16px !important;
}

.btn-img {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 4px;
  background: #fff;
  position: absolute;
  right: 24%;
  top: 26%;
}

.icon-img {
  color: #6148ff;
}

.btn-profile {
  padding: 12px;
  width: 320px;
  gap: 8px;
  border-radius: 25px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  background: #6148ff;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.btn-profile:hover {
  background: #489cff;
}

@media screen and (max-width: 768px) {
  .btn-img {
    position: absolute;
    top: 52.1%;
    left: 54%;
  }
  .form-control {
    width: 250px;
  }
  .btn-profile {
    width: 250px;
  }
}
