.home-banner {
  background-color: #6148ff;
  display: flex;
  width: 100%;
}

.img-banner {
  flex: 7;
  position: relative;
}

.img-banner img {
  display: block;
  width: 100%;
}

.img-banner-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    to right,
    rgba(255, 233, 202, 0),
    rgba(97, 72, 255, 1)
  );
  pointer-events: none;
}

.text-banner {
  display: grid;
  align-items: end;
  justify-content: center;
  padding-right: 12%;
}

.text-banner h2 {
  color: #fff;
  width: 100%;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 20%;
  align-self: flex-end;
}

.button-banner {
  background-color: #fff;
  color: #6148ff;
  width: 250px;
  height: 40px;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  transition: 0.2s ease-in;
}

.button-banner:hover {
  filter: brightness(150%);
}

.category-wrapper{
  background-color: #ebf3fc;
 padding: 1% 15%;
  }
.category-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.category-tagline{
  color: var(--Black, #000);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px; 
}  
.see-all-category{
  color: var(--Dark-Blue-100, #6148FF);
  text-align: right;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: 36px; 
}
.category-row{
  text-align: center;
}
.category-text{
  color: var(--Black, #000);
  font-family: "Montserrat" , sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;

}

.category-image{
  width: 90%;
  height: 100px;
  border-radius: 25px;
  background: linear-gradient(0deg, rgba(97, 72, 255, 0.05) 0%, rgba(97, 72, 255, 0.05) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 768px) {
  .home-banner {
    display: none;
  }

  .text-banner {
    display: block;
    align-items: center;
    justify-content: center;
  }
  .category-image {
    width: 100%;
  }

  .all-category {
    padding: 1% 10%;
  }

  .all-card-category {
    gap: 10px;
  }
}
