@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

.tagline-kelas-berjalan {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.tagline-topik-kelas {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.filters-tagline {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 150% */
}
.checkbox-label {
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 166.667% */
}
.bg-kelas-berjalan {
  background-color: #ebf3fc;
}
.search-kelas {
  border-radius: 20px;
}
.form {
  border-radius: 20px;
  border: 1x solid #6148ff !important;
}
.btn {
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  border-radius: 0.9375rem;
}
.horizontal-filter .btn {
  width: 7.74325rem;
  height: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  background: #fff;
  border-radius: 2rem;
}
.all,
.progress,
.selesai {
  background-color: #6148ff !important;
}
.btn-active {
  background-color: #6148ff !important;
  color: white;
}

.search-form {
  border-radius: 1rem;
  border: 2px solid #6148ff;
  color: var(--Deep-Grey, #8A8A8A);
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.side-filter {
  width: 17rem;
  height: 39rem;
  background-color: #fff;
  border-radius: 1rem;
}
.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-label {
  margin-left: 8px;
}

@media (max-width: 768px) {
  .kelas-header {
    flex-direction: column-reverse;
  }
  .form {
    display: none;
    padding: 0.3125rem 0.625rem;
    justify-content: center;
    align-items: center;
    gap: 9.375rem;
    width: max-content;
  }
  .side-filter {
    display: none;
  }
  .search-form {
    width: 20rem;
  }
  .horizontal-filter {
    gap: 10px;
  }
  .kelas-header {
    margin-top: -45px !important;
    margin-bottom: -20px !important;
  }
}

