.login-admin-wrapper {
  display: flex;
  height: 100vh;
}

.login-admin-brand {
  background: var(--Dark-Blue-100, #6148FF);
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-admin-body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-body-header {
  color: var(--Dark-Blue-100, #6148FF);
  width: 452px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  text-align: center;
  margin-bottom: 50px;
}

.admin-body-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 452px;
}

.admin-form-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.admin-form-item label {
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin-top: 16px;
}

.admin-form-item input {
  display: flex;
  height: 48px;
  padding: 12px 16px;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-radius: 16px;
  border: 1px solid var(--neutral-02, #D0D0D0);
  background: #FFF;
}

.admin-form-item input::placeholder {
  color: var(--neutral-03, #8A8A8A);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.btn-login-admin {
  background: var(--Dark-Blue-100, #6148FF);
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 16px;
  align-items: center;
  gap: 4px;
  padding: 12px 24px;
  margin-top: 24px;

  color: var(--neutral-01, #FFF);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

@media screen and (max-width: 768px) {
  .login-admin-brand {
    display: none;
  }

  .admin-body-header {
    width: 100%;
  } 
}