@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

.modal-body-onboarding {
  height: 400px;
}
.modal-title-onboarding {
  color: #6148ff;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.text-wrapper {
  width: 19.875rem;
  margin: 0 auto;
  justify-content: center;
}
.persiapan {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
}
.requires {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
}
.btn-onboarding {
  background-color: #6148ff;
  border: #6148ff;
  border-radius: 30px;
  width: 20rem;
  height: 3rem;
  font-weight: 700;
  font-size: 1rem;
}
.btn-onboarding:hover {
  background-color: #6148ff;
  border: #6148ff;
  border-radius: 30px;
  width: 20rem;
  height: 3rem;
  font-weight: 700;
  font-size: 1rem;
}
