.navbar-wrapper {
  background-color: #6148ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
  height: 100px;
  padding: 0 5%;
}

.navbar-brand {
  background: #489cff;
  width: 100px;
  height: 50px;
}

.navbar-brand:hover {
  filter: brightness(150%);
}

.navbar-search {
  background-color: #FFF;
  color: #D9D9D9;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  width: 30%;
  max-width: 526px;
  height: 62px;
  position: absolute;
  left: 20%;
  padding: 12px 24px;
}

.input-search {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.button-search {
  background-color: #6148ff;
  border-radius: 8px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 38px;
  transition: 0.2s ease-in;
}

.button-search:hover {
  filter: brightness(150%);
}

.button-search img {
  width: 24px;
  height: 24px;
}

.button-login {
  background-color: transparent;
  color: #fff;
  border: none;
  width: auto;
  height: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.button-login img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.button-menu {
  display: flex;
  gap: 24px;
}

.btn-menu-off {
  background-color: transparent;
  border-radius: 10px;
  border: none;
  height: 34px;
  padding: 5px;
  transition: 0.2s ease-in;
}
.btn-menu-off:hover {
  background-color: #489cff;
}

.btn-menu-on {
  background-color: #489cff;
  color: #fff;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  width: auto;
  height: 34px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding: 5px 25px 5px 25px;
  transition: 0.2s ease-in;
}

.btn-dropdown-item {
  background-color: transparent;
  border: none;
  font-size: 14px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .navbar-wrapper {
    background-color: #ebf3fc;
    display: inline-block;
  }

  .navbar-brand {
    display: none;
  }

  .navbar-search {
    position: relative;
    top: 20%;
    left: 0;
    width: 100%;
    max-width: none;
  }

  .button-login {
    display: none;
  }

  .button-menu {
    visibility: hidden;
  }
}
