@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

.navbar-bottom-wrapper {
  background: #fff;
  height: 4.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  visibility: hidden;
  bottom: -0.1rem;
  border-top: 2px solid #6148FF;
}
.text-link {
  text-decoration: none !important;
}
@media (max-width: 428px) {
  .navbar-bottom-wrapper {
    visibility: visible;
  }
}
