.content {
  margin-top: 3.5rem;
}

.img-success {
  width: 204px;
  height: 208px;
}

.header-text {
  font-weight: 700;
  font-size: 40px;
  line-height: 14px;
  color: #6148ff;
}

.main-text {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.second-text {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 0;
}

.btn-start {
  width: 343px;
  height: 48px;
  padding: 12px;
  margin-top: 2rem;
  border-radius: 25px;
  border: none;
  background: #6148ff;
  color: #ffff;
  font-weight: 700;
  font-size: 16px;
  gap: 8px;
}

.btn-start:hover {
  background: #489cff;
}

.footer-text {
  margin-top: 1rem;
  color: #489cff;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.footer-text:hover {
  color: #6148ff;
}
