/* CARD CSS */

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
}
.bg-topik-kelas {
  background-color: #ebf3fc;
}
.btn-class {
  padding: 6px 10px 6px 10px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 15px;
  border: none;
  background: #e8f1ff;
  margin-left: 1.2rem;
}

.btn-class:hover {
  background: #6148ff;
  color: #ebf3fc;
}

.type-header {
  font-weight: 700;
}

.type-bottom {
  color: #6148ff;
  font-weight: 650;
}

/* Card */
.card {
  border-radius: 16px !important;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  cursor: pointer;
}

.card-img-top {
  border-radius: 15 0 15px 0;
}

.card-title {
  font-weight: 700;
  color: #6148ff !important;
}

.card-text {
  font-size: 11px;
  font-weight: 700;
}

.mentor {
  font-weight: 600;
  font-size: 10px;
}

.writing-learn {
  font-size: 10px;
}

.btn-buy {
  padding: 2px 16px 2px 16px;
  border-radius: 15px;
  border: none;
  gap: 5px;
  background: #489cff;
  color: #ebf3fc;
  font-weight: 700;
  font-size: 13px;
}

.btn-buy:hover {
  background: #6148ff;
}
.progress-bar {
  background: #6148ff;
}
.progress {
  background-color: #d8d8d8be !important;
  border: 2px solid #6148ff;
  display: flex;
  align-items: center;
}
.btn-active {
  background-color: #6148ff !important;
  color: white !important;
}
@media (max-width: 768px) {
  .horizontal-filter {
    gap: 10px;
  }
  .form {
    display: none;
  }
}
